* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: url(imgs/spaceWhite.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


/* Typography */
h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
}

/* Sections */
main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* Buttons */
button {
    width: 10rem;
    height: 10rem;
    border: none;
    border-radius: 20px;
    background: linear-gradient(45deg, orange, red);
    margin: 1rem;
    cursor: pointer;
    box-shadow: 7px 7px 5px #202020;
}

button img {
    width: 40px;
    height: 40px;
}

/* Divs */
div {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    background: linear-gradient(45deg, orange, red);
    width: 40rem;
    height: 8rem;
    margin-top: 4rem;
}

.games {
    background-color: orange;
    width: 25rem;
    height: 5rem;
    margin-top: 3rem;
}

.players {
    width: 45rem;
    height: 20rem;
    display: flex;
    justify-content: space-around;
    margin: 10rem;
}

.players .user,
.players .computer {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 15rem;
    background-color: orange;
    color: white;
    box-shadow: 5px 5px 5px #202020;
}

.gameButtons {
    padding: 2rem;
}

.blur{
    background-color: rgba(149, 149, 149, .2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
}